*{margin: 0;padding: 0;}

.controls {
  display: flex;
  padding: 8px;
}
.snap-code {
  background-color: #322b33;
  padding: 8px 14px;
  margin: 0 8px 8px 8px;
  border-radius: 14px;
}
.code {
  font-family: Cascadia Code;
  color: hsl(296, 66%, 52%);
}
canvas {
  font-feature-settings: 'ss01','cv02','cv27', 'ss03', 'ss04', 'ss05', 'ss06', 'ss07','ss09','ss20','cv31', 'calt', 'dlig','zero','onum';
  width: 100%;
  max-width: 800px;
  margin: 0 auto ;
  display: block;
}
.btn-paste {
  padding: 6px 16px;
  background-color: #ae00ff;
  cursor: pointer;
  box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
  color: white;
}