* {
	font-family: Cascadia Code;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color-scheme: ligth dark;
	list-style: none;
	font-size: 14px;
	outline: 0;
}
.line {
	position: absolute;
}
.suggest {
	position: absolute;
	background-color: rgb(31, 31, 31);
	border: 1px solid rgb(83, 83, 83);
	left: 0;
	z-index: 1;
}
.suggest li {
	padding: 4px 8px 4px 4px;
	display: flex;
	align-items: center;
	cursor: pointer;
	gap: 4px;
}
.suggest li:hover {
	background-color: rgb(83, 83, 83);
}
.token {
	white-space: pre;
	position: relative;
}
.token:hover {
	background-color: rgba(255, 255, 255, 0.062);
	color: rgb(0, 217, 255);
}
.container {
	padding: 20px;
}
.editor {
	position: relative;
}