@font-face {
	src: url(https://api-82yn06sy8-monolisa.vercel.app/api/woff?eyJpbmNsdWRlIjpbXSwiZXhjbHVkZSI6W10sInN0eWxlIjoibm9ybWFsIiwidW5pY29kZVJhbmdlIjoiVSswMDAwLTAwMUYsIFUrMDAyMC0wMDdGLCBVKzIwMDAtMjA2RiwgVSswMzAwLTAzNkYsIFUrMjBBMC0yMENGLCBVKzAwQTksIFUrMDBBRSwgVSswMERGLCBVKzAwRDgiLCJ2ZXJzaW9uIjoiMi4wMTUiLCJmb3JtYXQiOiJ3b2ZmMiJ9) format("woff2");
	font-family: ml;
	font-weight: 100 900;
	font-style: normal;
	unicode-range: U+0000-001F, U+0020-007F, U+2000-206F, U+0300-036F, U+20A0-20CF, U+00A9, U+00AE, U+00DF, U+00D8;
}

@font-face {
	src: url(https://api-82yn06sy8-monolisa.vercel.app/api/woff?eyJpbmNsdWRlIjpbXSwiZXhjbHVkZSI6W10sInN0eWxlIjoiaXRhbGljIiwidW5pY29kZVJhbmdlIjoiVSswMDAwLTAwMUYsIFUrMDAyMC0wMDdGLCBVKzIwMDAtMjA2RiwgVSswMzAwLTAzNkYsIFUrMjBBMC0yMENGLCBVKzAwQTksIFUrMDBBRSwgVSswMERGLCBVKzAwRDgiLCJ2ZXJzaW9uIjoiMi4wMTUiLCJmb3JtYXQiOiJ3b2ZmMiJ9) format("woff2");
	font-family: ml;
	font-weight: 100 900;
	font-style: italic;
	unicode-range: U+0000-001F, U+0020-007F, U+2000-206F, U+0300-036F, U+20A0-20CF, U+00A9, U+00AE, U+00DF, U+00D8;
}

@font-face {
	src: url(https://api-82yn06sy8-monolisa.vercel.app/api/woff?eyJpbmNsdWRlIjpbXSwiZXhjbHVkZSI6W10sInN0eWxlIjoibm9ybWFsIiwidW5pY29kZVJhbmdlIjoiVSswNDAwLTA0RkYiLCJ2ZXJzaW9uIjoiMi4wMTUiLCJmb3JtYXQiOiJ3b2ZmMiJ9) format("woff2");
	font-family: ml;
	font-weight: 100 900;
	font-style: normal;
	unicode-range: U+0400-04FF;
}

@font-face {
	src: url(https://api-82yn06sy8-monolisa.vercel.app/api/woff?eyJpbmNsdWRlIjpbXSwiZXhjbHVkZSI6W10sInN0eWxlIjoiaXRhbGljIiwidW5pY29kZVJhbmdlIjoiVSswNDAwLTA0RkYiLCJ2ZXJzaW9uIjoiMi4wMTUiLCJmb3JtYXQiOiJ3b2ZmMiJ9) format("woff2");
	font-family: ml;
	font-weight: 100 900;
	font-style: italic;
	unicode-range: U+0400-04FF;
}

@font-face {
	src: url(https://api-82yn06sy8-monolisa.vercel.app/api/woff?eyJpbmNsdWRlIjpbXSwiZXhjbHVkZSI6W10sInN0eWxlIjoibm9ybWFsIiwidW5pY29kZVJhbmdlIjoiVSswMzcwLTAzRkYsIFUrMUYwMC0xRkZGIiwidmVyc2lvbiI6IjIuMDE1IiwiZm9ybWF0Ijoid29mZjIifQ%3D%3D) format("woff2");
	font-family: ml;
	font-weight: 100 900;
	font-style: normal;
	unicode-range: U+0370-03FF, U+1F00-1FFF;
}

@font-face {
	src: url(https://api-82yn06sy8-monolisa.vercel.app/api/woff?eyJpbmNsdWRlIjpbXSwiZXhjbHVkZSI6W10sInN0eWxlIjoiaXRhbGljIiwidW5pY29kZVJhbmdlIjoiVSswMzcwLTAzRkYsIFUrMUYwMC0xRkZGIiwidmVyc2lvbiI6IjIuMDE1IiwiZm9ybWF0Ijoid29mZjIifQ%3D%3D) format("woff2");
	font-family: ml;
	font-weight: 100 900;
	font-style: italic;
	unicode-range: U+0370-03FF, U+1F00-1FFF;
}

@font-face {
	src: url(https://api-82yn06sy8-monolisa.vercel.app/api/woff?eyJpbmNsdWRlIjpbXSwiZXhjbHVkZSI6W10sInN0eWxlIjoibm9ybWFsIiwidW5pY29kZVJhbmdlIjoiVSsyMzg3LCBVKzIzOEIsIFUrMjMyNywgVSsyMzJCLCBVKzIzMjYsIFUrMjNDRiwgVSsyMzI4LCBVKzIzMjUsIFUrMjMxOCwgVSsyM0NFLCBVKzIzRkIsIFUrMjNGQywgVSsyM0ZELCBVKzIzRkUsIFUrMjIxMiwgVSsyMjYwLCBVKzIyNjUsIFUrMjI2NCwgVSsyMjQ4LCBVKzIyMDUsIFUrMjIxRSwgVSsyMjJCLCBVKzIyMEYsIFUrMjIxMSwgVSsyMjFBLCBVKzIyMDIsIFUrRTBBMCwgVStFMEExLCBVK0UwQTIsIFUrRTBCMCwgVStFMEIxLCBVK0UwQjIsIFUrRTBCMywgVStFRTAwLCBVK0VFMDEsIFUrRUUwMiwgVStFRTAzLCBVK0VFMDQsIFUrRUUwNSwgVStFRTEwLCBVK0VFMTEsIFUrRUUxMiwgVStFRTEzLCBVK0VFMTQsIFUrRUUxNSIsInZlcnNpb24iOiIyLjAxNSIsImZvcm1hdCI6IndvZmYyIn0%3D) format("woff2");
	font-family: ml;
	font-weight: 100 900;
	font-style: normal;
	unicode-range: U+2387, U+238B, U+2327, U+232B, U+2326, U+23CF, U+2328, U+2325, U+2318, U+23CE, U+23FB, U+23FC, U+23FD, U+23FE, U+2212, U+2260, U+2265, U+2264, U+2248, U+2205, U+221E, U+222B, U+220F, U+2211, U+221A, U+2202, U+E0A0, U+E0A1, U+E0A2, U+E0B0, U+E0B1, U+E0B2, U+E0B3, U+EE00, U+EE01, U+EE02, U+EE03, U+EE04, U+EE05, U+EE10, U+EE11, U+EE12, U+EE13, U+EE14, U+EE15;
}

@font-face {
	src: url(https://api-82yn06sy8-monolisa.vercel.app/api/woff?eyJpbmNsdWRlIjpbXSwiZXhjbHVkZSI6W10sInN0eWxlIjoiaXRhbGljIiwidW5pY29kZVJhbmdlIjoiVSsyMzg3LCBVKzIzOEIsIFUrMjMyNywgVSsyMzJCLCBVKzIzMjYsIFUrMjNDRiwgVSsyMzI4LCBVKzIzMjUsIFUrMjMxOCwgVSsyM0NFLCBVKzIzRkIsIFUrMjNGQywgVSsyM0ZELCBVKzIzRkUsIFUrMjIxMiwgVSsyMjYwLCBVKzIyNjUsIFUrMjI2NCwgVSsyMjQ4LCBVKzIyMDUsIFUrMjIxRSwgVSsyMjJCLCBVKzIyMEYsIFUrMjIxMSwgVSsyMjFBLCBVKzIyMDIsIFUrRTBBMCwgVStFMEExLCBVK0UwQTIsIFUrRTBCMCwgVStFMEIxLCBVK0UwQjIsIFUrRTBCMywgVStFRTAwLCBVK0VFMDEsIFUrRUUwMiwgVStFRTAzLCBVK0VFMDQsIFUrRUUwNSwgVStFRTEwLCBVK0VFMTEsIFUrRUUxMiwgVStFRTEzLCBVK0VFMTQsIFUrRUUxNSIsInZlcnNpb24iOiIyLjAxNSIsImZvcm1hdCI6IndvZmYyIn0%3D) format("woff2");
	font-family: ml;
	font-weight: 100 900;
	font-style: italic;
	unicode-range: U+2387, U+238B, U+2327, U+232B, U+2326, U+23CF, U+2328, U+2325, U+2318, U+23CE, U+23FB, U+23FC, U+23FD, U+23FE, U+2212, U+2260, U+2265, U+2264, U+2248, U+2205, U+221E, U+222B, U+220F, U+2211, U+221A, U+2202, U+E0A0, U+E0A1, U+E0A2, U+E0B0, U+E0B1, U+E0B2, U+E0B3, U+EE00, U+EE01, U+EE02, U+EE03, U+EE04, U+EE05, U+EE10, U+EE11, U+EE12, U+EE13, U+EE14, U+EE15;
}

[class*="mtk"] {
	unicode-bidi: isolate !important;
	white-space: pre;
	white-space-collapse: preserve;
}